<form class="inputcont" [formGroup]="form">
  <h3>Hirdetés adatainak frissítése</h3>
  <mat-form-field class="max-width">
    <mat-label>Hirdetés neve</mat-label>
      <input matInput placeholder="Hirdetés neve" formControlName="name" focus required>
  </mat-form-field>
  <mat-form-field class="max-width">
    <mat-label>Ár</mat-label>
      <input matInput placeholder="Ár" formControlName="price">
  </mat-form-field>
  <mat-form-field class="max-width">
    <mat-label>Kép url</mat-label>
    <input matInput placeholder="Kép url" formControlName="picture">
  </mat-form-field>
  <mat-form-field class="max-width">
    <mat-label>Ingatlan címe</mat-label>
      <input matInput placeholder="Ingatlan címe" formControlName="address">
  </mat-form-field>
  <mat-form-field class="max-width">
    <mat-label>Terület</mat-label>
      <input matInput placeholder="Terület" formControlName="area">
  </mat-form-field>
  <mat-form-field class="max-width">
    <mat-label>Szobák száma</mat-label>
      <input matInput placeholder="2" formControlName="rooms">
  </mat-form-field>
  <mat-form-field class="max-width">
    <mat-label>Prémium?</mat-label>
      <input matInput placeholder="Yes/No" formControlName="premium">
  </mat-form-field>
  <div>
    <button mat-button (click)="dialogRef.close()">Vissza</button>
    <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">Frissítés</button>
  </div>
</form>