<!-- <span class="container">
  <input type="text" [(ngModel)]="selltype">
</span> -->

<span [ngSwitch]="view">
  <span *ngSwitchCase="'home'" class="container">
    <span [ngSwitch]="selltype">
      <span *ngSwitchCase="'forsale'" class="container"><app-card *ngFor="let property of properties;" [property]="property" ng-class="mat-elevation-z6" ng-mouseenter="mat-elevation-z6 = true" ng-mouseleave="mat-elevation-z6 = false"></app-card></span>
      <span *ngSwitchCase="'torent'" class="container"><app-card *ngFor="let property of properties;" [property]="property" ng-class="mat-elevation-z6" ng-mouseenter="mat-elevation-z6 = true" ng-mouseleave="mat-elevation-z6 = false"></app-card></span>
      <span *ngSwitchDefault class="container"><app-startscreen></app-startscreen></span>
    </span>
  </span>
  <span *ngSwitchCase="'reg'" class="container"></span>
  <span *ngSwitchCase="'log'" class="container"></span>
  <span *ngSwitchCase="'fullview'" class="container"></span>

  <span *ngSwitchDefault class="container"><app-startscreen></app-startscreen></span>
</span>
