<mat-card *ngIf="property | async as p">
<p>{{p.name}}</p>
<p>Price: {{p.price}} $</p>
<img mat-card-image [src]="p.picture" [alt]="p.name" [title]="p.name">
<p>Location: {{p.address}}</p>
<p>Area: {{p.area}} m²</p>
<p>Number of rooms: {{p.rooms}}</p>
<div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=hu&amp;q=Cegled&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
    </iframe></div><style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:600px;height:400px;}.gmap_iframe {width:600px!important;height:400px!important;}</style></div>
<button mat-button (click)="updateListing()">Update listing</button>
<button mat-button [routerLink]="['/home/property']" (click)="deleteListing(p.id)">Delete listing</button>
<button *ngIf="p.hidden != '1'"mat-button (click)="hideListing(p.id)">Hirdetés elrejtése</button>
<button *ngIf="p.hidden == '1'"mat-button (click)="activateListing(p.id)">Hirdetés aktiválása</button>
<button mat-button [routerLink]="['/home/property']">Back</button>
</mat-card>
