<mat-card *ngIf="property | async as p">
<p>{{p.name}}</p>
<p>Price: {{p.price}} $</p>
<img mat-card-image [src]="p.picture" [alt]="p.name" [title]="p.name">
<p>Location: {{p.address}}</p>
<p>Area: {{p.area}} m²</p>
<p>Number of rooms: {{p.rooms}}</p>
<google-map
    height="500px"
    width="100%"
    [options]="options">
    <map-marker>
  </map-marker>
</google-map>
<button mat-button (click)="updateListing()">Update listing</button>
<button mat-button [routerLink]="['/home/property']" (click)="deleteListing(p.id)">Delete listing</button>
<button mat-button [routerLink]="['/home/property']">Back</button>
</mat-card>
